@charset "UTF-8";

#catCategory{
	position:relative;
	display:block;
	width:1200px;
	height:30px;
	margin:5px auto;
	
}
#catCategory > div{
	position:absolute;
	width:400px;
	height:30px;
	text-align:left;
}
#catCategory a{
	color:gray;
}
#sellBox{
	position:relative;
	width:1250px;
	min-height:750px;
	margin:5px auto;
	padding:10px;
	background-color:#F8EFFB;
	display:block;
	font-size:18px;
}
#imgBox{
	position:relative;
	width:500px;
	height:600px;
	background-color:lightblue;
	padding:0px;
	margin:0px;
}

#itemsImg{
	position:absolute;
	top:20px;
	left:50px;
}

#imgList{
	position:absolute;
	bottom:0px;
}
/*상품 선택 박스*/

#selectBox{
	position:absolute;
	left:550px;
	top:10px;
	width:680px;
	min-height:600px;
	/*background-color:pink;*/
}
#sellerInfo{
	font-size:20px;
	
}
.sellInfo{
	box-sizing:content-box;
	background-color:#F2F2F2;
	border-bottom: 1px solid gray;
	margin-bottom:8px;
	min-height:60px;
	text-align:center;
}

#orderOption{
	display:none;
}
#orderOption .form-control{
	width:90%;
	margin:5px auto;
	height:40px;
	font-size:16px;
	display:none;
}
#sellButton{
	position:relative;
	top:10px;
	left:100px;
	
}
#sellButton :first-child{
	border:1px solid gray;
}

#sellButton > button{
	width:180px;
	height:50px;
	margin:10px 20px;
	font-size:15px;
}
.quantity{
	width:60px;
	height:30px;
	text-align:center;
}

#itemsInfoSelect{
	display:block;
	width:1250px;
	height:50px;	
	/*background-color:#FA8258;*/
	margin:5px auto;
	
}
#itemsInfoSelect > button{
	float:left;
	margin:0 10px;
	position:relative;
	width:165px;
	height:40px;
	/*border-left:1px solid #F2F2F2;
	border-right:1px solid #F2F2F2;*/
	border-radius: 15px 15px 0 0;
	font-size:16px;
}
#itemsInfoSelect :first-child {
	margin-left:0px;
}

